$bg-color: #d9d9d9;
$bg-secundary: #e5e5e5;
$bg-color-third: #4d6bb9;

$color-text-title: #4d6bb9;
$color-text-title-secundary: #fff;

$color-text: black;
$color-text-secundary: #4d6bb9;
$color-text-third: #fff;
